body { padding: 2em; font: 1em/1.1 "Source Serif Pro", Georgia, serif; color: #444444; font-weight: 400; max-width: 100em; }

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-weight: 900 !important;
    color: #222;
}

small { font-size: 0.6em; }

a { color: rgb(43, 80, 180); }

header { display: none; }
footer { display: none; }

@media print, screen and (max-width: 960px) { div.wrapper { width: auto; margin: 0; }
  header, section, footer { float: none; position: static; width: auto; }
  header { padding-right: 320px; }
  section { border: 1px solid #e5e5e5; border-width: 1px 0; padding: 20px 0; margin: 0 0 20px; }
  header a small { display: inline; }
  header ul { position: absolute; right: 50px; top: 52px; } }
@media print, screen and (max-width: 720px) { body { word-wrap: break-word; }
  header { padding: 0; }
  header ul, header p.view { position: static; }
  pre, code { word-wrap: normal; } }
@media print, screen and (max-width: 480px) { body { padding: 15px; }
  header ul { width: 99%; }
  header li, header ul li + li + li { width: 33%; } }
@media print { 
  body { padding: 0.4in; font-size: 9pt; color: #444; margin: 0px; }
  h1 { margin: 5px; }
  td { padding: 2px 5px; }
  table { font-size: 8pt; }
}
