---
---

@import "{{ site.theme }}";

header {
	float: none;
	position: inherit;
}

footer {
	float: none;
	position: inherit;
}

body {
	color: #333;
	font-size: 16px;
}

a {
	color: #2b81ad;
}

header a {
	font-size: 11px;
	display: block
}

header ul {
	border: 1px solid #e0e0e0;
	height: 6em;
}

header li {
	border: 0px;
	height: 2em;
}

header li a {
	height: 1em;
}

p {
	max-width: 60em;
	line-height: 1.8em;
}

section {
	float: none;
	width: auto;
}