---
---

@import "{{ site.theme }}";

header {
	float: none;
	position: inherit;
}

footer {
	float: none;
	position: inherit;
}

body {
	color: #222;
	font-size: 1em;
}

a {
	color: #2b81ad;
}

header ul {
	list-style: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

header ul li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: #eef;
    margin: 0.1em;
    padding: 0.1em;
    line-height: 2em;
    border: 0px;
	width: 4em;
    height: 2em;
}

header ul li a {
	display: block;
	font-size: 1em;
}

p {
	max-width: 60em;
	line-height: 1.8em;
}

section {
	float: none;
	width: auto;
}